// @require './wrapper.styl'

.custom-page
  min-height calc(100vh - 3.6rem)
  padding-top $navbarHeight
  padding-bottom .9rem
  background var(--pageBg)
  @media (min-width $cardLayout)
    min-height calc(100vh - 5.6rem)
  >*
    // @extend $wrapper
  .theme-vdoing-wrapper
    margin 0 auto
      