// 日间模式
.theme-mode-daytime
  --bg: #fff
  --textColor: #004050
  --textLightenColor: #0085AD
  --borderColor: rgba(0,0,0,.15)
  --codeBgColor: #f6f6f6
  --codeColor: #525252
  codeThemeDaytime()

// 夜间模式
.theme-mode-night
  --bg: rgb(30,30,34)
  --textColor: rgb(150,150,154)
  --textLightenColor: #0085AD
  --borderColor: #2C2C3A
  --codeBgColor: #252526
  --codeColor: #fff
  codeThemeNight()

// 阅读模式
.theme-mode-read
  --bg: #f5f5d5 // 杏仁黄
  --textColor: #004050
  --textLightenColor: #0085AD
  --borderColor: rgba(0,0,0,.15)
  --codeBgColor: #282c34
  --codeColor: #fff
  codeThemeNight()
