// 日间模式
.theme-mode-daytime
  --bg: #fff
  --textColor: #004050
  --textLightenColor: #0085AD
  --borderColor: rgba(0,0,0,.15)
  --codeBgColor: #f8f8f8
  --codeColor: #525252
  codeThemeDaytime()

// 夜间模式
.theme-mode-night
  --bg: #191828
  --textColor: #686880
  --textLightenColor: #0085AD
  --borderColor: #2C2C3A
  --codeBgColor: #282c34
  --codeColor: #fff
  codeThemeNight()

// 阅读模式
.theme-mode-read
  --bg: #f5f5d5 // 杏仁黄
  --textColor: #004050
  --textLightenColor: #0085AD
  --borderColor: rgba(0,0,0,.15)
  --codeBgColor: #282c34
  --codeColor: #fff
  codeThemeNight()
