$vdoing-wrapper
  max-width $contentWidth
  margin 0 auto
  padding 1rem 2.5rem 2rem 2.5rem
  &:not(.footer)
    background var(--mainBg)
    box-shadow 0 1px 2px 0 rgba(0,0,0,.1)
    margin-bottom 1rem
    @media (min-width $contentWidth + 80)
      border-radius 2px
  @media (max-width: $MQNarrow)
    padding 1rem 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1rem 1.5rem
$wrapper
  max-width $contentWidth

