// 引入字体图标
@import '//at.alicdn.com/t/font_1678482_tdhmdeztrfo.css'

// 样式重置
body
  background: none
a,input,button
  outline: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-focus-ring-color: rgba(0, 0, 0, 0);

.theme-default-content:not(.custom)
  word-wrap break-word
  
.navbar
  box-shadow 0 2px 5px rgba(0,0,0,.06)

// 滚动条样式
@media (min-width: $MQMobile)
  ::-webkit-scrollbar
    width:6px;
    height:5px;
  ::-webkit-scrollbar-track-piece
    background-color:rgba(0,0,0,.15);
    -webkit-border-radius:3px;
  ::-webkit-scrollbar-thumb:vertical
    height:5px;
    background-color:hsla(0,0%,49%,.6);
    -webkit-border-radius:3px
  ::-webkit-scrollbar-thumb:horizontal
    width:5px;
    background-color:hsla(0,0%,49%,.6);
    -webkit-border-radius:3px


// md文件中的按钮
.theme-default-content .but
  background $accentColor
  color #fff
  border none
  border-radius 4px
  padding 0.55em 1em
  cursor pointer

// 表格宽度
table
  width: 100%;
  display: inline-table;

// 评论区样式
#vuepress-plugin-comment
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem
.gt-container .gt-comments-null
  color #999

// 侧边栏高出评论区
.sidebar
  z-index 11
  background #fbfbfb

// 评论区颜色重置
.gt-container
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color #fff!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important

// qq徽章
.qq
  position: relative;
.qq::after
  content: "可撩";
  background: $accentColor;
  color:#fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size:12px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform:scale(0.85);

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper .vuepress-plugin-demo-block__footer:hover
  .vuepress-plugin-demo-block__expand::before
    border-top-color: $accentColor !important;
    border-bottom-color: $accentColor !important;
  svg
    fill: $accentColor !important;
  
//iframe
iframe
  margin: 1rem 0



// 目录显示隐藏
@media (max-width: $MQMobile)
  .theme-container
    &.sidebar-open
      .sidebar-mask // 蒙版在小屏中才能显示
        display: block

@media (min-width: ($MQMobile + 1px))
  .theme-container // 覆盖index.style #179
    &.sidebar-open
      .sidebar-mask // 蒙版在大屏中不能显示
        display: none

  .theme-container.no-sidebar
    .sidebar-button
      display none



// 大于720px时 切换目录栏的样式
.sidebar
  transform translateX(-100%)
  transition transform .2s ease
.page // 覆盖index.styl #20
  transition all .2s ease
  padding-left 0

@media (min-width: ($MQMobile + 1px))
  .theme-container
    &.sidebar-open
      .sidebar
        transform translateX(0)
      .sidebar-button
        left $sidebarWidth
      .page
        padding-left $sidebarWidth
    &.no-sidebar
      .page
        padding-left 0
  @media (max-width: $MQNarrow)
    .theme-container
      &.sidebar-open:not(.on-sidebar)
        .sidebar-button
          $mobileSidebarWidth = $sidebarWidth * 0.82
          left $mobileSidebarWidth