// 样式重置
a,input,button{outline: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-focus-ring-color: rgba(0, 0, 0, 0);}

// md文件中的按钮
.theme-default-content .but
  background $accentColor
  color #fff
  border none
  border-radius 4px
  padding 0.55em 1em
  cursor pointer

// 表格宽度
table
  width: 100%;
  display: inline-table;

// 评论区样式
#vuepress-plugin-comment
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem
.gt-container .gt-comments-null
  color #999


// 侧边栏高出评论区
.sidebar
  z-index 11

// 评论区颜色重置
.gt-container
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color #fff!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important

// qq徽章
.qq{position: relative;}
.qq::after{
    content: "可撩";
    background: $accentColor;
    color:#fff;
    padding: 0 5px;
    border-radius: 10px;
    font-size:12px;
    position: absolute;
    top: -4px;
    right: -35px;
    transform:scale(0.85);
}

// demo模块图标颜色
body  .vuepress-plugin-demo-block__wrapper .vuepress-plugin-demo-block__footer:hover .vuepress-plugin-demo-block__expand::before {
  border-top-color: $accentColor !important;
  border-bottom-color: $accentColor !important;
}
body .vuepress-plugin-demo-block__wrapper .vuepress-plugin-demo-block__footer:hover svg {
    fill: $accentColor !important;
}

//iframe
iframe {
  margin: 1rem 0
}