// 主题调色板

// 默认 颜色
$accentColor = #3eaf7c // 强调色
$textColor = #2c3e50 // 文本色
$borderColor = #eaecef // 边框色
$codeBgColor = #282c34 // 代码块背景色
$arrowBgColor = #ccc // 箭头背景色？
$badgeTipColor = #42b983 // 提示框
$badgeWarningColor = darken(#ffe564, 35%) // 警告框
$badgeErrorColor = #DA5961 // 错误框

// 默认 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px


// 自定义 蓝色主题
$accentColor = #11A8CD
$textColor = #004050
$borderColor = rgba(0,0,0,.1)
$badgeTipColor = #11A8CD

// 布局
$sidebarWidth = 18rem
$contentWidth = 850px
$rightMenuWidth = 280px // 右侧菜单
