// 主题调色板

// 默认
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 自定义 蓝色
$accentColor = #11A8CD
$textColor = #085062
$badgeTipColor = #11A8CD